.formItem {
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 0.2em;
    display: grid;
    place-items: center;
}
.login {
    display: grid;
    place-items: center;
    letter-spacing: 0.2em;
}

.mb-3 {
    margin-bottom: 15px;
    padding: 12px 14px;
    width: 100%;
    background: transparent;
    border: 1px solid black;
}
.formTitle {
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
}
