.form_create {
    max-width: 670px;
    margin: 0 auto;
    letter-spacing: 0.2em;
    display: grid;
    place-items: center;
}
.login {
    display: grid;
    place-items: center;
}

.mb-3 {
    margin-bottom: 15px;
    padding: 12px 14px;
    width: 100%;
    background: transparent;
    border: 1px solid black;
    color: black;
}
.formTitle {
    font-size: 20px;

    padding: 15px;
}
.message {
    text-align: center;
}
.btn5 {
    background-color: black;
    width: 670px;
    height: 55px;
    color: black;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: white;
    color: black;
    transition: 1s;
}
.title_create {
    text-align: center;
    padding: 25px;
}
