.deleteBtn {
    height: 20px;
    width: 50px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.wallet_img {
    width: 200px;
    height: 300px;
}
