.navigation {
    display: grid;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

li,
ul {
    list-style-type: none;
}
