.footer {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-brand {
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
}
.social {
    display: flex;
    text-align: center;
    justify-content: center;
}
.news-later {
    display: grid;
    place-items: center;
}
