.footer {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.footer-brand {
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
}
.social {
    display: flex;
    text-align: center;
    justify-content: center;
}
.news-later {
    display: grid;
    place-items: center;
}

@media (max-width: 500px) {
    .footer-brand {
        display: grid;
        grid-template-areas:
            "brand info"
            "shop news";
    }

    .footer-brand {
        grid-area: brand;
    }

    .footer-info {
        grid-area: info;
    }

    .footer-shop {
        grid-area: shop;
    }

    .news-later {
        grid-area: news;
    }
}
