.wallet {
    background-color: #efefef;
}

.image {
    width: 200px;
    height: 300px;
    margin-left: 5px;
}
.btn1 {
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    outline: none;
    background-color: black;
    color: antiquewhite;
    margin-bottom: 3px;
}
.btn1:hover {
    background-color: red;
    color: white;
}
.wallet {
    width: 250px;
    padding: 20px;
    height: 425px;
}
.wallet__name {
    display: contents;
    font-weight: bold;
}
.cartItem {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-out;
}

.cartItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
