.wallet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.wallet__card {
    position: relative;
    display: inline-grid;
    margin: 15px;
}
.svgHeart {
    position: absolute;
    top: 10px;
    right: 30px;
    fill: red;
}

.news {
    text-align: center;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.info {
    display: flex;
}

a {
    text-decoration: none;
    margin-right: 15px;
}
.search {
    display: flex;
}

.wallet__info {
    display: grid;
    place-items: center;
}
.logoName {
    letter-spacing: 0.1em;
    font-size: 20px;
}
.userLogin {
    text-align: center;
}
