section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wallet__card {
    position: relative;
    display: inline-grid;
    margin: 15px;
}
.svgHeart {
    position: absolute;
    top: 10px;
    right: 30px;
    fill: red;
}

.news {
    text-align: center;
}

.navBar {
    display: grid;
    justify-items: center;
}

.info {
    display: grid;
}

a {
    text-decoration: none;
}
