.privacy {
    display: grid;
    place-items: center;
    margin-bottom: 150px;
}

.privacy_details {
    padding: 10px 80px;
}
.privacy_info {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
    margin-bottom: 150px;
}
.privacy_title {
    position: relative;
    text-align: center;
    margin: 20px 0;
}
