.dialog {
    width: 100%;

    display: flex;
    justify-content: center;
}
.backdrop {
    border-radius: 5px;

    font-size: 18px;
    position: absolute;
    background: antiquewhite;
}
.buttonDialog {
    padding: 10px 20px;
    background-color: black;
    color: white;
    /* border: 1px solid black; */
    border-radius: 3px;
    cursor: pointer;
}
.btn5 {
    text-align: center;
}
