.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.item_img {
    width: 400px;
    height: 600px;
}
.item_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 350px;
    font-size: 20px;
}
.title5 {
    display: inline;
}
.formTitle {
    text-align: center;
}
.details {
    width: 400px;
    height: 200px;
    display: contents;
}
.btnDetails {
    background-color: black;
    color: white;
    padding: 3px;
    cursor: pointer;
}
